{% extends 'todo/base.html' %}
{% block content %}
{{todo.title}}

{{ error }}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>

<form method="POST" action="{% url 'completetodo' todo.id %}">
    {% csrf_token %}
    <button id="complete" type="submit">Complete</button>
</form>

<form method="POST" action="{% url 'deletetodo' todo.id %}">
    {% csrf_token %}
    <button id="delete" type="submit">Delete</button>
</form>


{% endblock %}